@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 600;
  }

@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 400;
  }

@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 100;
  }
@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 200;
  }

body{
  font-family: poppins, Arial, sans-serif;
  font-weight: 100;
}

.navbar{
  padding-left: 7rem;
  padding-right: 7rem;
}

.navbar .nav-item .nav-link{
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
}

.navbar .nav-item .secondary{
  font-family: poppins;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background:#ff781f
}



.logo-text {
  font-family: poppins;
  font-weight: 600;
  font-size: 14px;
}

.logo-text .header{
  font-family: poppins;
  font-weight: 600;
  font-size: 64px;
  color: #FF781F;
}

.logo-text .header-white{
  font-family: poppins;
  font-weight: 600;
  font-size: 64px;
  color: white;
}

.head-bg{
  padding-right: 2vw;
  padding-left: 2vw;
}

.head-bg img{
  padding-top: 2vh;
  width: 100%;
  max-height:600px;
  object-fit: cover;
}

.hero-section {
  background: rgb(255,120,31);
  background: linear-gradient(90deg, rgba(255,120,31,1) 23%, rgba(252,174,30,1) 65%);
}

.hero-section img {
  object-fit:cover;
  width: 60%;
  height:auto;
  margin: auto;
}

.section{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.section-title{
  font-family: poppins;
  font-weight: 600;
  font-size: 2.4vw;
  margin-top:5vh;
  margin-bottom:5vh;
}

.section-title-white{
  color:white;
  padding-top:5vh;
}

.section-title-orange{
  color:#ff781f;
  margin-bottom:2vh;
}

.text-section{
  padding-left: 8vw;
  padding-right: 8vw;
}

.text-section p{
  text-align: justify;
  font-family: poppins;
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 0.8cm;
}

.tingkat-card{
  height:40vh;
  margin:auto;
  margin-bottom: 2vw;
}

.zoom{
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.tingkat-img{
  height:100%;
  object-fit: cover;
}

.tingkat-title{
  font-size: 4vh;
  margin-top: auto;
  margin-bottom: auto;
}

.about-heading{
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5vw;
  color:white;
}

.about-text{
  font-family: poppins;
  font-weight: 400;
  font-size: 1.1vw;
  color:white;
  text-align: justify;
}

.about-numbers{
  padding-top: 5vh;
}

.diamond-shape {
  background: #fff;
  height: 11vh;
  text-align: center;
  transform:rotate(45deg);
  width:11vh;
  margin:auto;
}

.diamond-text {
  padding-top: 4.5vh;
  width:60%;
  margin:auto;
  padding-bottom: 2vh;
}

.diamond-text p {
  font-family: poppins;
  font-weight: 400;
  font-size: 1.2vw;
}

.item-count {
  font-family: poppins;
  font-weight: 600;
  font-size: 4vh;
  color: #333;
  display: table-cell;
  height: 11vh;
  transform: rotate(-45deg);
  vertical-align: middle;
	width:11vh;
}

.container-shape {
  margin: auto;
  text-align: center; 
  width: 940px;
}

.footer-content{
  margin-left:4vw;
  margin-right:4vw;
}

.icon {
  font-size: 30px;
  margin-right:8px;
}

.footer-components{
  margin-top:3vh;
  width:50%
}

.footer-components p{
  font-family: poppins;
  font-weight: 600;
}

.img-kegiatan{
  object-fit: cover;
  width:100%;
  height:300px;
}

.img-desc {
  width:100%;
  text-align: center;
  margin:auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.kegiatan-button{
  border:1px black solid;
}

.kegiatan-button:hover, .kegiatan-button:focus .kegiatan-button:active{
  background-color:#ff781f;
}

.kegiatan-button-content{
  border:1px black solid; 
  border-top:none;
}

.button-no-outline:focus, .button-no-outline:active {
  outline: none !important;
  box-shadow: none;
}

.pengurus-name{
  font-size: 2vh;
}
.pengurus-title{
  font-size: 1.5vh;
}

.head-text{
  font-size: 8vh;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kompetensi-head-text{
  font-size: 6vh;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kompetensi-img{
  height: 17vh;
  object-fit: cover;
}

.kompetensi-text{
  font-size: 2.5vh;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-kompetensi{
  font-family: poppins;
  font-weight: 400;
}

.nav-kompetensi .active{
  color: #ff781f;
}

.nav-kompetensi a{
  color: black;
}

.nav-kompetensi a:hover{
  color: #ff781f;
}
