@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 600;
  }

@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 400;
  }

@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 100;
  }
@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 200;
  }

body{
  font-family: poppins, Arial, sans-serif;
  font-weight: 100;
}

.navbar{
  padding-left: 7rem;
  padding-right: 7rem;
}

.navbar .nav-item .nav-link{
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
}

.navbar .nav-item .secondary{
  font-family: poppins;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background:#ff781f;
  border: 1px solid #ff781f;
  transition: 0.5s;
}

.navbar .nav-item .secondary:hover{
  color:#ff781f;
  background-color:white;
  border: 1px solid #ff781f;
}



.logo-text {
  font-family: poppins;
  font-weight: 600;
  font-size: 14px;
}

.logo-text .header{
  font-family: poppins;
  font-weight: 600;
  font-size: 64px;
  color: #FF781F;
}

.logo-text .header-white{
  font-family: poppins;
  font-weight: 600;
  font-size: 64px;
  color: white;
}

.head-bg{
  padding-right: 2vw;
  padding-left: 2vw;
}

.head-bg img{
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
  max-height:550px;
  object-fit: cover;
}

.head-carousel-bg img{
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
  max-height:900px;
  object-fit: cover;
}

.hero-section-carousel .carousel-inner {
  background: rgb(255,120,31);
}

.hero-section-carousel img {
  object-fit:cover;
  height:600px;
  margin: auto;
}

.section{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.section-title{
  font-family: poppins;
  font-weight: 600;
  font-size: 2.4vw;
  margin-top:5vh;
  margin-bottom:5vh;
}

.section-title-white{
  color:white;
  padding-top:5vh;
}

.section-title-orange{
  color:#ff781f;
  margin-bottom:2vh;
}

.text-section{
  padding-left: 8vw;
  padding-right: 8vw;
}

.text-section p{
  text-align: justify;
  font-family: poppins;
  font-weight: 200;
  font-size: 1.1vw;
  line-height: 0.8cm;
}

.tingkat-card{
  height:40vh;
  margin:auto;
  margin-bottom: 2vw;
}

.zoom{
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.tingkat-img{
  height:100%;
  object-fit: cover;
}

.tingkat-title{
  font-size: 4vh;
  margin-top: auto;
  margin-bottom: auto;
}

.about-heading{
  font-family: poppins;
  font-weight: 400;
  font-size: 1.5vw;
  color:white;
}

.about-text{
  font-family: poppins;
  font-weight: 200;
  font-size: 1.1vw;
  color:white;
  text-align: justify;
}

.about-numbers{
  padding-top: 5vh;
}

.about-img{
  height: 400px;
  object-fit: cover;
}

.diamond-shape {
  background: #fff;
  height: 14vh;
  text-align: center;
  transform:rotate(45deg);
  width:14vh;
  margin:auto;
}

.diamond-text {
  padding-top: 4.5vh;
  width:60%;
  margin:auto;
  padding-bottom: 2vh;
}

.diamond-text p {
  font-family: poppins;
  font-weight: 400;
  font-size: 1.2vw;
}

.item-count {
  font-family: poppins;
  font-weight: 600;
  font-size: 1.5vw;
  color: #333;
  display: table-cell;
  height: 14vh;
  transform: rotate(-45deg);
  vertical-align: middle;
    width:14vh;
}

.item-count-desc{
  font-size:1vw;
}

.container-shape {
  margin: auto;
  text-align: center; 
  width: 940px;
}

.footer-content{
  margin-left:4vw;
  margin-right:4vw;
}

.icon {
  font-size: 30px;
  margin-right:8px;
}

.footer-components{
  margin-top:3vh;
  width:50%
}

.footer-components p{
  font-family: poppins;
  font-weight: 600;
}

.img-kegiatan{
  object-fit: cover;
  width:100%;
  height:300px;
}

.img-desc {
  width:100%;
  text-align: center;
  margin:auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.text-list li{
  font-family: poppins;
  font-weight: 200;
  font-size: 20px;
  padding-left: 7px;
}


.kegiatan-button{
  border:1px black solid;
}

.kegiatan-button:hover, .kegiatan-button:focus .kegiatan-button:active{
  background-color:#ff781f;
}

.kegiatan-button-content{
  border:1px black solid; 
  border-top:none;
}

.button-no-outline:focus, .button-no-outline:active {
  outline: none !important;
  box-shadow: none;
}

.pengurus-name{
  font-size: 1.3vw;
}
.pengurus-title{
  font-size: 1vw;
}

.head-text{
  font-size: 8vh;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kompetensi-head-text{
  font-size: 6vh;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kompetensi-img{
  height: 17vh;
  object-fit: cover;
}

.kompetensi-text{
  font-size: 2vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-kompetensi{
  font-family: poppins;
  font-weight: 400;
}

.nav-kompetensi .active{
  color: #ff781f;
}

.nav-kompetensi a{
  color: black;
}

.nav-kompetensi a:hover{
  color: #ff781f;
}

.carousel-item img {
  object-fit: contain;
}

.foto-section img{
  max-height: 300px;
  object-fit: cover;
}

.navbar-nav .active > .nav-link{
  color:#ff781f;
}

.nav-link {
  color: rgba(0, 0, 0, 0.877);
  transition: 0.3s;
}

.nav-link:hover{
  color: #ff791f
}

.navbar-nav .active > .secondary{
  color:#ff781f;
  background-color:white;
  border: 1px solid #ff781f;
}

.nav-tabs {
  border-bottom: 1px solid #ff781f;
}
.nav-tabs .nav-link {
    color: gray;
}

.nav-tabs .nav-link:hover {
    color:#ff781f;
    border-color:white;
    border-bottom:#dee2e6;
}

.nav-tabs .nav-link.active {
    color: #ff781f;
    border-color:#ff781f;
    border-bottom: 1px solid white;
}

.contact-logo{
  width:100px;
  padding-top: 12px;
  height:auto;
  margin:auto
}

.card-lembaga{
  border: 1px solid grey;
  height: 450px;
}

.blog-image{
  object-fit: cover;
  width:900px;
  height:400px;
}

.blog-link{
  color:black;
  text-decoration: none;
}

.blog-link:hover{
  color:#ff781f;
  text-decoration: none;
}

.blog-card{
  box-shadow: 1px 1px 10px #e5e5e5;
  height:330px;
}

.blog-card:hover{
  box-shadow: 1px 1px 10px #d1d1d1;
}

.blog-card img{
  height:200px;
  object-fit: cover;
}

.menu-navbar{
  display:none;
}

.menu-navbar button{
  background-color: white;
  color:black;
  border:1px solid rgb(180, 180, 180);
  width:100%;
  padding-top:8px;
  padding-bottom:8px;
}

.navbar-modal .nav-link{
  padding-left: 15px;
}

.navbar-modal a{
  border-bottom: 1px solid #e5e5e5;
}

.navbar-modal a:active{
  background-color: #ff791f50;
}

.sambutan{
  padding: 50px 100px; 
  background: #ff791f57;
  border: 1px solid #ff781f;
  border-radius: 10px;
}

.sambutan-footer{
  font-weight: 600;
  font-size: 22px;
  color: #FF781F;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand{
    margin:auto;
  }

  .navbar img{
    height:90px;
    width:auto;
    margin:auto;
  }

  .logo-text{
    font-size:11px;
  }

  .logo-text .header{
    font-size:30px;
  }

  .menu-navbar{
    display:block;
  }

  .section-title{
    font-size:24px;
  }

  .img-desc{
    font-size: 12px;
    line-height: 0.5cm;
  }

  .text-section p{
    font-size:12px;
  }

  .text-list li{
    font-size:12px;
    line-height: 0.7cm;
  }

  .tingkat-title{
    font-size:20px;
  }

  .about-text{
    font-size:11px;
    line-height: 0.54cm;
  }

  .item-count{
    font-size : 22px;
  }

  .item-count-desc{
    font-size:18px;
  }
  .diamond-text p{
    font-size:18px;
  }

  .about-img{
    height:150px
  }

  .tingkat-card{
    height:160px;
  }

  .hero-section-carousel img{
    height:340px;
  }

  .footer-components{
    width: 100%;
  }

  .post-title{
    font-size:22px;
  }

  .post-author{
    font-size:14px;
  }

  .kompetensi-text{
    font-size: 18px;
  }

  .pengurus-name{
    font-size: 18px;
  }

  .pengurus-tingkat{
    font-size: 14px;
  }

  .sambutan{
    padding: 5px 20px;
    font-size: 12px
  }
  
  .sambutan-footer{
    font-size: 12px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand{
    margin:auto;
  }

  .navbar img{
    height:90px;
    width:auto;
    margin:auto;
  }

  .logo-text{
    font-size:11px;
  }

  .logo-text .header{
    font-size:30px;
  }

  .menu-navbar{
    display:block;
  }

  .section-title{
    font-size:24px;
  }

  .img-desc{
    font-size: 12px;
    line-height: 0.5cm;
  }

  .text-section p{
    font-size:12px;
  }

  .text-list li{
    font-size:12px;
    line-height: 0.7cm;
  }

  .tingkat-title{
    font-size:20px;
  }

  .about-text{
    font-size:11px;
    line-height: 0.54cm;
  }

  .item-count{
    font-size : 22px;
  }

  .item-count-desc{
    font-size:18px;
  }
  .diamond-text p{
    font-size:18px;
  }

  .about-img{
    height:150px
  }

  .tingkat-card{
    height:160px;
  }

  .hero-section-carousel img{
    height:340px;
  }

  .footer-components{
    width: 100%;
  }

  .post-title{
    font-size:22px;
  }

  .post-author{
    font-size:14px;
  }
  
  .kompetensi-text{
    font-size: 18px;
  }

  .pengurus-name{
    font-size: 18px;
  }

  .pengurus-tingkat{
    font-size: 14px;
  }

  .sambutan{
    padding: 5px 20px;
    font-size: 12px
  }
  
  .sambutan-footer{
    font-size: 12px;
  }
}

/* Tablets */
@media only screen and (max-width: 991px) { 
  .navbar{
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand{
    margin:auto;
  }

  .navbar img{
    height:90px;
    width:auto;
    margin:auto;
  }

  .logo-text{
    font-size:11px;
  }

  .logo-text .header{
    font-size:30px;
  }

  .menu-navbar{
    display:block;
  }

  .section-title{
    font-size:24px;
  }

  .img-desc{
    font-size: 12px;
    line-height: 0.5cm;
  }

  .text-section p{
    font-size:12px;
  }

  .text-list li{
    font-size:12px;
    line-height: 0.7cm;
  }

  .tingkat-title{
    font-size:20px;
  }

  .about-text{
    font-size:11px;
    line-height: 0.54cm;
  }

  .item-count{
    font-size : 22px;
  }

  .item-count-desc{
    font-size:18px;
  }
  .diamond-text p{
    font-size:18px;
  }

  .about-img{
    height:150px
  }

  .tingkat-card{
    height:160px;
  }

  .hero-section-carousel img{
    height:340px;
  }

  .footer-components{
    width: 100%;
  }

  .post-title{
    font-size:22px;
  }

  .post-author{
    font-size:14px;
  }
  
  .kompetensi-text{
    font-size: 18px;
  }

  .pengurus-name{
    font-size: 18px;
  }

  .pengurus-tingkat{
    font-size: 14px;
  }

  .sambutan{
    padding: 20px 30px;
    font-size: 12px
  }
  
  .sambutan-footer{
    font-size: 12px;
  }
 }